html
    position relative
    min-height 100%

body
    margin-bottom: 250px
    font-family 'Noto Sans JP', sans-serif
    font-weight 300
    color #333333

a
    color #333333

h1
h2
strong
    font-weight 700

select
    background none

footer
    position absolute
    bottom 0
