footer.container-fluid.mt-5.bg-light.text-muted
    .container.pt-4.pb-2
        .row
            .col-sm-6
                +markdown(self.footer)
            .col-sm-6.text-right
                img(src='/assets/images/ekilogo_est.png' height=50)
